@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
    box-sizing: border-box;
    overflow-x: hidden;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}

.inner-cursor {
    position: fixed;
    left: 10px;
    z-index: 9999;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(122, 141, 202);
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
    transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
    width: 25px;
    height: 25px;
    transition: width 0.5s, height 0.5s;
}

.outer-cursor {
    position: fixed;
    left: 10px;
    z-index: 9999;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    border: 1px solid #1b2978;
    border-radius: 50%;
    pointer-events: none;
    transition: 0.1s;
}

.circle-left,
.circle-right {
    height: 1000px;
    width: 1000px;
    border: 1px dashed white;
    border-radius: 50%;
    opacity: 0.2;
    position: fixed;
    z-index: 9998;
    animation: spin 90s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.circle-left {
    top: -20%;
    left: -20%;
}

.circle-right {
    bottom: -20%;
    right: -15%;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-gradient {
    background: linear-gradient(-45deg, #040f4e, #6cc2d5, #01093f, #2a4e8e);
    background-size: 300% 300%;
    animation: gradientShift 15s ease infinite;
}
